.aside
  .aside__box
    .inner
      .inner-left
        .upper-text スマホでかんたんフリマアプリ
        .lower-text 今すぐ無料ダウンロード!
        .icons
          %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3856598694", width: 68, class: "icons__icon"}
          %ul.btn
            %li.btn__apple
              = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" do
                %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3856598694", width: 133, height: 40}
            %li.btn__google
              = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" do
                %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3856598694", width: 133, height: 40}

      %img{src:"//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3856598694", class: "inner-right"}
