.main
  .swiper
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          %img{:src => "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg", style: "width: 1425px; height: 392px;"}/
        .swiper-slide
          %img{:src => "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg", style: "width: 1425px; height: 392px;"}/
        .swiper-slide
          %img{:src => "https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg", style: "width: 1425px; height: 392px;"}/
      .swiper-pagination
      .swiper-button-prev
      .swiper-button-next

  .pickup-box
    .head ピックアップカテゴリー
    .item-box__container.clearfix
      .text-center
        = link_to "#" do
          レディース 新着アイテム
  -#     .item-box__content.clearfix
  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[0].images.first, class: "photo__img")
  -#           .item
  -#             .item__name
  -#               = @items[0].name
  -#             .item__num
  -#               .item__price
  -#                 ¥
  -#                 = @items[0].price
  -#             .item__tax (税込)

  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[1].images.first, class: "photo__img")

  -#           .item
  -#             .item__name
  -#               = @items[1].name
  -#             .item__num
  -#               .item__price
  -#                 ¥ 
  -#                 = @items[1].price
  -#             .item__tax (税込)

  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[2].images.first, class: "photo__img")

  -#           .item
  -#             .item__name
  -#               = @items[2].name
  -#             .item__num
  -#               .item__price 
  -#                 ¥ 
  -#                 = @items[2].price
  -#             .item__tax (税込)

  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[3].images.first, class: "photo__img")

  -#           .item
  -#             .item__name
  -#               = @items[3].name
  -#             .item__num
  -#               .item__price
  -#                 ¥ 
  -#                 = @items[3].price
  -#             .item__tax (税込)

  -#     .view-all
  -#       = link_to "#" do
  -#         全ての商品を見る

  -# .pickup-box
  -#   .head ピックアップブランド
  -#   .item-box__container.clearfix
  -#     .text-center
  -#       = link_to "#" do
  -#         ナイキ 新着アイテム
  -#     .item-box__content.clearfix
  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[0].images.first, class: "photo__img")
  -#           .item
  -#             .item__name
  -#               = @items[0].name
  -#             .item__num
  -#               .item__price
  -#                 ¥ 
  -#                 = @items[0].price
  -#             .item__tax (税込)

  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[1].images.first, class: "photo__img")
  -#           .item
  -#             .item__name

  -#               = @items[1].name
  -#             .item__num
  -#               .item__price
  -#                 ¥
  -#                 = @items[1].price
  -#             .item__tax (税込)

  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[2].images.first, class: "photo__img")

  -#           .item
  -#             .item__name
  -#               = @items[2].name
  -#             .item__num
  -#               .item__price 
  -#                 ¥ 
  -#                 = @items[2].price
  -#             .item__tax (税込)

  -#       .item-box
  -#         = link_to "#" do
  -#           .photo
  -#             = image_tag(@items[3].images.first, class: "photo__img")

  -#           .item
  -#             .item__name
  -#               = @items[3].name
  -#             .item__num
  -#               .item__price
  -#                 ¥ 
  -#                 = @items[3].price
  -#             .item__tax (税込)

  -#     .view-all
  -#       = link_to "#" do
  -#         全ての商品を見る
