.footer {
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;

  &__top {
    width: 1020px;
    margin: 0 auto;
    color: #fff;
    height: 300px;

    .cell {
      padding: 0 20px 0 0;
      width: 20%;
      vertical-align: top;
      float: left;
      margin-top: 18px;

      .list__header {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.4;
      }

      .link__list {
        list-style: none;
        
        .link__text.first-child {
          margin: 16px 0 0;
          font-size: 12px;
          line-height: 1.5em;
          & a {
            opacity: .7;
            color: #fff;
            text-decoration: none;
          }
        }

        .link__text a {
          margin: 14px 0 0;
          display: block;
          font-size: 12px;
          line-height: 1.5em;
          opacity: .7;
          color: #fff;
          text-decoration: none;
          // & a {
          //   opacity: .7;
          //   color: #fff;
          //   text-decoration: none;
          // }
        }

        .link__icon {
          margin: 14px 0 0;
          display: inline-block;
          line-height: 1.5em;
          font-size: 12px;
          & a {
            opacity: 1;
            color: #fff;
            text-decoration: none;

            .fa {
              background: transparent;
              margin: 16px 18px 0 0;
              font-size: 33px;
            }
          }
        }
      }
    }

    .cell.full-width {
      margin-top: 18px;
      padding: 0 40px 0 0;
      width: 42%;

      .inner-cell {
        padding: 0 20px 0 0;
        float: left;
        vertical-align: top;
        width: 45%;
      }
    }

    .cell.right {
      width: auto;
      margin-top: 18px;
    }
  }

  &__bottom {
    margin: 30px auto 20px;
    width: 1020px;

    .logo {
      vertical-align: middle;
    }
    .copyright {
      width: 745px;
      display: inline-block;
      margin: 8px 0 10px 0;
      text-align: center;
      vertical-align: sub;
      font-size: 10px;
    }
  }
}