.side-bar{
  width: 280px;
  float: left;
  .mypageNav{
    .mypageNavList{
      li{
        border-top: 1px solid #eee
      }
      a{
        text-decoration: none;
        color: #333;
      }
      &__item{
        position: relative;
        display: block;
        height: 16px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        i{
          float: right;
          color: #ccc;
        }
      }
    }
    .mypageNavHead{
      font-size: 16px;
      font-weight:bold;
      margin-top: 40px;
    }
  }
}