.single-container{
  width: 100px;
  height: 336px;
  padding: 0 0 220px;
  background-color: #f5f5f5;
  .single-main{
    width: 1440px;
    height: 208px;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    margin: auto;
    .main__contents{
      width: 700px;
      height: 208px;
      margin: auto;
      background-color: white;
      .contents-header{
        width: 668px;
        height: 33px;
        padding: 32px 16px;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #f5f5f5;
        p{
          font-size: 22px;
        }
      }
      .contents-buy{
        width: 525px;
        height: 30px;
        padding: 40px 0;
        margin: auto;
        .single-content{
          width: 320px;
          height: 14px;
          margin: auto;
          

          a{
            text-decoration: none;
            color: #0099E8;
          }
        }
      }
    }
  }
}