.phone {
  .single-header {
    text-align: center;
    height: 128px;
    h1 {
      display: inline-block;
      margin: 40px 0 0;   
      a {
        display: inline-block;
        margin: 0 8px 0 0;
      }
    }
      img {
        vertical-align: middle;
        width: 185px;
        height: 49px;
      }
    .progress-bar.signup-bar {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      .clearfix {
        .active {
          font-weight: 600;
          color: #ea352d;
        }
        li {
          position: relative;
          z-index: 1;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          color: #888;
          .active__dot_red {
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
            background-color: #ea352d;
          }
          .active__dot_gray {
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .line-right {
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
          .line-left {
            right: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
          }
          .line-right-red {
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
          .line-left-red {
            right: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
        }
      }
    }
  }
  .l-single-container {
    background: #fff;
    width:700px;
    margin:0 auto;
    .l-chapter-head {
      font-size: 24px;
      padding: 8px 24px;
      height:30px;
      text-align: center;
      font-weight: bolder;
    }
    .l-single-inner {
      height:464px;
      border-top: 1px solid #f5f5f5;
      .l-single-content {
        max-width: 320px;
        margin: 0 auto;
        .btn-red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          margin:30px auto;
        }
        .sms-send {
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
        .form-group label {
          font-weight: 600;
          position: relative;
          right:50px;
        }
        .form-group:first-child {
          margin: 50px; 
        }
        .form-group,.phone-form {
          margin: 8px 0 0;
          width: 100%;
          .phone-form {
            height: 48px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;   
            vertical-align: center;
            position:relative;
            right:50px;
          }
        }
      }
    }
  }
}
