.single-container
  = render 'shared/sub-header'
  .single-main
    .main-contents
      .main-contents__header
        %p 購入内容の確認
      .main-contents__main
        .single-content
          %a
          = link_to "商品画面へもどる", "https://item.mercari.com/jp/m70068440240/" 
= render 'shared/sub-footer'
