= render 'shared/sub-header'
    %main.single-main
      %section.l-single-container
        %h2.l-single-head 新規会員登録
        .l-single-inner
          .l-single-content
            %a.btn-default.btn-mail{href: "http://localhost:3000/items"}
              %i.icon-mail
              %i.fa.fa-envelope
              メールアドレスで登録
            %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
              %i.icon-facebook
              %i.fa.fa-facebook-square
              Facebookで登録
            %button#google-login.btn-default.btn-sns.btn-sns-google
              %i.fa.fa-google
              Googleで登録
= render 'shared/sub-footer'